@model _03.Bookstore.Models.BookModel

<h4>Additional book information:</h4>
<p><strong>Description: </strong>@Model.Description</p>
<p><strong>ISBN: </strong>@Model.ISBN</p>
<p><strong>Website: </strong>@Model.Website</p>
