@{
    ViewBag.Title = "Home Page";  
}

<div class="hero-unit">
    <h1>Bookstore</h1>
    <p class="lead">Welcome to our bookstore</p>
</div>
<div class="row">
    <div class="span4">
        
    </div>
    <div class="span4">
        
    </div>
    <div class="span4">
       
    </div>
</div>