USE [master]
GO
/****** Object:  Database [TodoListDB]    Script Date: 14.9.2013 г. 19:05:49 ******/
CREATE DATABASE [TodoListDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TodoListDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\TodoListDB.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'TodoListDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\TodoListDB_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TodoListDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TodoListDB]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 14.9.2013 г. 19:05:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Categories] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Todos]    Script Date: 14.9.2013 г. 19:05:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Todos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](50) NOT NULL,
	[Body] [nvarchar](max) NOT NULL,
	[LastChanged] [date] NULL,
	[CategoryId] [int] NOT NULL,
	[IsDone] [bit] NULL,
 CONSTRAINT [PK_Todos] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([Id], [Title]) VALUES (1, N'Daily tasks')
INSERT [dbo].[Categories] ([Id], [Title]) VALUES (2, N'Hobbies')
INSERT [dbo].[Categories] ([Id], [Title]) VALUES (3, N'Health')
SET IDENTITY_INSERT [dbo].[Categories] OFF
SET IDENTITY_INSERT [dbo].[Todos] ON 

INSERT [dbo].[Todos] ([Id], [Title], [Body], [LastChanged], [CategoryId], [IsDone]) VALUES (2, N'Groceries', N'Buy some milk and bread', CAST(0xA7370B00 AS Date), 1, 1)
INSERT [dbo].[Todos] ([Id], [Title], [Body], [LastChanged], [CategoryId], [IsDone]) VALUES (3, N'Get fit', N'some jogging after work', CAST(0x92370B00 AS Date), 3, 1)
INSERT [dbo].[Todos] ([Id], [Title], [Body], [LastChanged], [CategoryId], [IsDone]) VALUES (4, N'Project deadline', N'ASP.NET hw due 15.09', CAST(0x92370B00 AS Date), 4, NULL)
SET IDENTITY_INSERT [dbo].[Todos] OFF
ALTER TABLE [dbo].[Todos]  WITH CHECK ADD  CONSTRAINT [FK_Todos_Categories] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Categories] ([Id])
GO
ALTER TABLE [dbo].[Todos] CHECK CONSTRAINT [FK_Todos_Categories]
GO
USE [master]
GO
